.blog-post .title {
    font-weight: bold;
    line-height: 1.7em;
    font-size: 1.5em;
}

.blog-post .title:hover {
    cursor: pointer;
}

.alert{
    position: absolute; 
    top: 0;
    right: 0;
    text-align: center;
}

input[type=text], input[type=password] {
    padding: 1em 1em 1em 1em;
}

